* { margin: 0; padding: 0; }


html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: verdana; 
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}